<head>    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head><div class="container-lg">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>Liste des <b>Utilisateurs</b></h2>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-info add-new" (click)="openUserModal()">
              <i class="fa fa-plus"></i> Ajouter un utilisateur
            </button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Nom d'utilisateur</th>
            <th>Rôle</th>
            <th>Manager ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.managerId ? user.managerId : 'Aucun' }}</td>
            <td>
              <a class="delete" title="Supprimer" data-toggle="tooltip" (click)="deleteUser(user.id)">
                  <i class="material-icons">remove_circle</i> <!-- Icône de suppression -->
              </a>
              <a class="edit" title="Affecter Manager" data-toggle="tooltip" (click)="openManagerModal(user)">
                  <i class="material-icons">assignment_ind</i> <!-- Icône d'assignation -->
              </a>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal pour créer un nouvel utilisateur -->
<div *ngIf="isUserModalOpen" class="modal">
  <div class="modal-content">
    <h3>Créer un nouvel utilisateur</h3>
    <form (submit)="createUser()">
      <label for="username">Nom d'utilisateur:</label>
      <input [(ngModel)]="newUser.username" name="username" id="username" required />
      <br />
      <label for="password">Mot de passe:</label>
      <input [(ngModel)]="newUser.password" name="password" id="password" required type="password" />
      <br />
      <label for="role">Rôle:</label>
      <select [(ngModel)]="newUser.role" name="role" id="role" required>
        <option value="RH">RH</option>
        <option value="EMPLOYE">Employé</option>
        <option value="MANAGER">Manager</option>
      </select>
      <br />
      <button type="submit">Créer utilisateur</button>
      <button type="button" (click)="closeUserModal()">Fermer</button>
    </form>
  </div>
</div>

<!-- Modal pour affecter un manager -->
<div *ngIf="isManagerModalOpen" class="modal">
  <div class="modal-content">
    <h3>Affecter un manager à {{ selectedUser?.username }}</h3>
    <label for="managerId">ID du manager:</label>
    <input type="number" [(ngModel)]="managerId" name="managerId" required />
    <br />
    <button (click)="assignManager()">Affecter</button>
    <button (click)="closeManagerModal()">Fermer</button>
  </div>
</div>